
@font-face {
    font-family:"GemunuLibre ExtraLight";
    src:url("GemunuLibre-ExtraLight.woff2") format("woff2"),url("GemunuLibre-ExtraLight.woff") format("woff"),url("GemunuLibre-ExtraLight.otf") format("opentype");
    font-style:normal;font-weight:400;
}


@font-face {
    font-family:"GemunuLibre Light";
    src:url("GemunuLibre-Light.woff2") format("woff2"),url("GemunuLibre-Light.woff") format("woff"),url("GemunuLibre-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}


@font-face {
    font-family:"GemunuLibre Regular";
    src:url("GemunuLibre-Regular.woff2") format("woff2"),url("GemunuLibre-Regular.woff") format("woff"),url("GemunuLibre-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}



@font-face {
    font-family:"GemunuLibre Medium";
    src:url("GemunuLibre-Medium.woff2") format("woff2"),url("GemunuLibre-Medium.woff") format("woff"),url("GemunuLibre-Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}


@font-face {
    font-family:"GemunuLibre SemiBold";
    src:url("GemunuLibre-SemiBold.woff2") format("woff2"),url("GemunuLibre-SemiBold.woff") format("woff"),url("GemunuLibre-SemiBold.otf") format("opentype");
    font-style:normal;font-weight:400;
}


@font-face {
    font-family:"GemunuLibre Bold";
    src:url("GemunuLibre-Bold.woff2") format("woff2"),url("GemunuLibre-Bold.woff") format("woff"),url("GemunuLibre-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}


@font-face {
    font-family:"GemunuLibre ExtraBold";
    src:url("GemunuLibre-ExtraBold.woff2") format("woff2"),url("GemunuLibre-ExtraBold.woff") format("woff"),url("GemunuLibre-ExtraBold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        
