
@font-face {
    font-family:"Galle";
    src:url("Galle-Rgular.woff2") format("woff2"),url("Galle-Rgular.woff") format("woff"),url("Galle-Rgular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        