
@font-face {
    font-family:"Bhashitha Sans";
    src:url("Bhashitha-Sans.woff2") format("woff2"),url("Bhashitha-Sans.woff") format("woff"),url("Bhashitha-Sans.otf") format("opentype");
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"Bhashitha Sans";
    src:url("Bhashitha-SansBold.woff2") format("woff2"),url("Bhashitha-SansBold.woff") format("woff"),url("Bhashitha-SansBold.otf") format("opentype");
    font-style:normal;font-weight:600;
}
