
@font-face {
    font-family:"MottaTypeOne";
    src:url("MottaTypeOne.woff2") format("woff2"),url("MottaTypeOne.woff") format("woff"),url("MottaTypeOne.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        