
@font-face {
    font-family:"Yaldevi";
    src:url("YaldeviColombo-ExtraLight.woff2") format("woff2"),url("YaldeviColombo-ExtraLight.woff") format("woff"),url("YaldeviColombo-ExtraLight.otf") format("opentype");
    font-style:normal;font-weight:200;
}

@font-face {
    font-family:"Yaldevi";
    src:url("YaldeviColombo-Light.woff2") format("woff2"),url("YaldeviColombo-Light.woff") format("woff"),url("YaldeviColombo-Light.otf") format("opentype");
    font-style:normal;font-weight:300;
}

@font-face {
    font-family:"Yaldevi";
    src:url("YaldeviColombo-Regular.woff2") format("woff2"),url("YaldeviColombo-Regular.woff") format("woff"),url("YaldeviColombo-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"Yaldevi";
    src:url("YaldeviColombo-Medium.woff2") format("woff2"),url("YaldeviColombo-Medium.woff") format("woff"),url("YaldeviColombo-Medium.otf") format("opentype");
    font-style:normal;font-weight:500;
}


@font-face {
    font-family:"Yaldevi";
    src:url("YaldeviColombo-SemiBold.woff2") format("woff2"),url("YaldeviColombo-SemiBold.woff") format("woff"),url("YaldeviColombo-SemiBold.otf") format("opentype");
    font-style:normal;font-weight:600;
}

@font-face {
    font-family:"Yaldevi";
    src:url("YaldeviColombo-Bold.woff2") format("woff2"),url("YaldeviColombo-Bold.woff") format("woff"),url("YaldeviColombo-Bold.otf") format("opentype");
    font-style:normal;font-weight:700;
}
          
