
@font-face {
    font-family:"YaldeviColombo SemiBold";
    src:url("YaldeviColombo-SemiBold.woff2") format("woff2"),url("YaldeviColombo-SemiBold.woff") format("woff"),url("YaldeviColombo-SemiBold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        