
@font-face {
    font-family:"YaldeviColombo Light";
    src:url("YaldeviColombo-Light.woff2") format("woff2"),url("YaldeviColombo-Light.woff") format("woff"),url("YaldeviColombo-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        