
@font-face {
    font-family:"YaldeviColombo Medium";
    src:url("YaldeviColombo-Medium.woff2") format("woff2"),url("YaldeviColombo-Medium.woff") format("woff"),url("YaldeviColombo-Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        