
@font-face {
    font-family:"YaldeviColombo Regular";
    src:url("YaldeviColombo-Regular.woff2") format("woff2"),url("YaldeviColombo-Regular.woff") format("woff"),url("YaldeviColombo-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        