
@font-face {
    font-family:"YaldeviColombo ExtraLight";
    src:url("YaldeviColombo-ExtraLight.woff2") format("woff2"),url("YaldeviColombo-ExtraLight.woff") format("woff"),url("YaldeviColombo-ExtraLight.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        