
@font-face {
    font-family:"YaldeviColombo Bold1";
    src:url("YaldeviColombo-Bold.woff2") format("woff2"),url("YaldeviColombo-Bold.woff") format("woff"),url("YaldeviColombo-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        