
@font-face {
    font-family:"Malithi Web";
    src:url("MalithiLibre.woff2") format("woff2"),url("MalithiLibre.woff") format("woff"),url("MalithiLibre.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        