
@font-face {
    font-family:"Dinamina Libre";
    src:url("DinaminaLibre.woff2") format("woff2"),url("DinaminaLibre.woff") format("woff"),url("DinaminaLibre.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        
