
@font-face {
    font-family:"Bhashitha";
    src:url("Bhashitha-Serif.woff2") format("woff2"),url("Bhashitha-Serif.woff") format("woff"),url("Bhashitha-Serif.otf") format("opentype");
    font-style:normal;font-weight:400;
}
