
@font-face {
    font-family:"WARNA";
    src:url("Warna.woff2") format("woff2"),url("Warna.woff") format("woff"),url("Warna.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        